@charset "UTF-8";

html,
body {
  margin: 0px auto;
  max-width: 1920px;
  font-size: 30px;
}

@media screen and (max-width: 1440px) {

  html,
  body {
    font-size: 20px;
  }
}

@media screen and (max-width: 425px) {

  html,
  body {
    font-size: 10px;
  }
}