@charset "UTF-8";

#scrollToTopBtn {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: opacity .5s, visibility .5s;

    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    outline: none;
}

#scrollToTopBtn.show {
    opacity: .5;
    visibility: visible;
}

#scrollToTopBtn img {
    /* 이미지가 버튼의 전체 영역을 채우도록 */
    display: block;

    width: 88px;
    height: auto;
}

@media screen and (max-width: 1920px) {

    #scrollToTopBtn img {
        width: 60px;
    }
}

@media screen and (max-width: 1024px) {

    #scrollToTopBtn img {
        width: 50px;
    }
}

@media screen and (max-width: 425px) {
    #scrollToTopBtn img {
        width: 40px;
    }
}