@charset "UTF-8";

#logo {
  display: flex;
  justify-content: center;
  padding: 2em 0em;
}

#logo img {
  max-width: 208px;
  max-height: 271px;

  width: 11em;
}

@media screen and (max-width: 1440px) {
  #logo img {
    width: 8em;
  }
}

@media screen and (max-width: 1024px) {

  #logo img {
    width: 6em;
  }
}