@charset "UTF-8";
/* 폰트 선언 */
@import url(CSS/Font.css);
html,
body {
  margin: 0px;
  font-size: 20px;
}

#navbar {
  display: flex;
  flex-direction: column;
}
#navbar div:nth-child(1) {
  width: 100%;
  height: 0.4rem;
  background-color: #64f2da;
}
#navbar div:nth-child(2) {
  width: 100%;
  height: auto;
  background-color: #00cfc7;
}
#navbar div:nth-child(2) > ul {
  list-style: none;
  display: flex;
  justify-content: space-around;

  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0.6rem;
}
#navbar div:nth-child(2) > ul > li {
  display: flex;
  align-items: center;
}
#navbar div:nth-child(2) > ul > li > img {
  width: 0.4rem;
  height: auto;
  margin-right: 0.125rem;
}
#navbar div:nth-child(2) > ul > li > a {
  text-decoration: none;
  font-family: "NanumSquareEB";
  font-size: 0.5rem;
  color: #ffffff;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 3rem;
  padding-bottom: 3rem;
}

#logo img {
  width: 2rem;
  height: auto;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.category.line-breaking {
  padding-top: 4rem;
}

.category div:first-child {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category div:first-child img {
  width: 0.6rem;
  height: auto;
}

.category div:first-child img:first-child {
  padding-right: 0.3rem;
}
.category div:first-child img:last-child {
  padding-left: 0.3rem;
}

.category div:first-child h {
  font-family: "NanumSquareEB";
  color: #494949;
  font-size: 1.25rem;
}

.category div.app-card {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
}

.category div.app-card div.app-img {
  display: flex;
  flex-direction: column;
  padding: 0px;
}
.category div.app-card img:first-child {
  width: 10rem;
  height: auto;
}
.category div.app-card img:nth-child(2) {
  width: 4rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.category div.app-card img:last-child {
  width: 5rem;
  height: auto;
}
.category div.app-card div {
  padding-top: 2rem;
}
.category div.app-card div h {
  font-size: 1.5rem;
  font-family: "NanumSquareEB";
  color: #00cfc7;
}
.category div.app-card div p {
  font-size: 0.5rem;
  font-family: "NanumSquareB";
  color: #494949;
  margin-top: 0px;
  margin-bottom: 0px;
}
.category div.line-breaking {
  padding-top: 6rem;
}
.category div.connect {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category div.connect p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
  font-size: 1rem;
  font-family: "NanumSquareB";
  color: #494949;
  border: 1px solid #bfbfbf;
  border-radius: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.category div.peoplecard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}
.category div.peoplecard img {
  width: 20%;
  height: auto;
}
.category div.peoplecard img:nth-child(2) {
  padding-left: 2rem;
  padding-right: 2rem;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  font-size: 0.6rem;
  font-family: "NanumSquareB";
  color: #999999;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
